In [412]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [413]:
df = pd.read_csv("../Data/train.csv", low_memory=False)

In [414]:
df

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,0x1602,CUS_0xd40,January,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,_,809.98,26.822620,22 Years and 1 Months,No,49.574949,80.41529543900253,High_spent_Small_value_payments,312.49408867943663,Good
1,0x1603,CUS_0xd40,February,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,31.944960,NaN,No,49.574949,118.28022162236736,Low_spent_Large_value_payments,284.62916249607184,Good
2,0x1604,CUS_0xd40,March,Aaron Maashoh,-500,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,28.609352,22 Years and 3 Months,No,49.574949,81.699521264648,Low_spent_Medium_value_payments,331.2098628537912,Good
3,0x1605,CUS_0xd40,April,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,31.377862,22 Years and 4 Months,No,49.574949,199.4580743910713,Low_spent_Small_value_payments,223.45130972736786,Good
4,0x1606,CUS_0xd40,May,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,Good,809.98,24.797347,22 Years and 5 Months,No,49.574949,41.420153086217326,High_spent_Medium_value_payments,341.48923103222177,Good
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,0x25fe9,CUS_0x942c,April,Nicks,25,078-73-5990,Mechanic,39628.99,3359.415833,4,...,_,502.38,34.663572,31 Years and 6 Months,No,35.104023,60.97133255718485,High_spent_Large_value_payments,479.86622816574095,Poor
99996,0x25fea,CUS_0x942c,May,Nicks,25,078-73-5990,Mechanic,39628.99,3359.415833,4,...,_,502.38,40.565631,31 Years and 7 Months,No,35.104023,54.18595028760385,High_spent_Medium_value_payments,496.651610435322,Poor
99997,0x25feb,CUS_0x942c,June,Nicks,25,078-73-5990,Mechanic,39628.99,3359.415833,4,...,Good,502.38,41.255522,31 Years and 8 Months,No,35.104023,24.02847744864441,High_spent_Large_value_payments,516.8090832742814,Poor
99998,0x25fec,CUS_0x942c,July,Nicks,25,078-73-5990,Mechanic,39628.99,3359.415833,4,...,Good,502.38,33.638208,31 Years and 9 Months,No,35.104023,251.67258219721603,Low_spent_Large_value_payments,319.1649785257098,Standard
99999,0x25fed,CUS_0x942c,August,Nicks,25,078-73-5990,Mechanic,39628.99_,3359.415833,4,...,Good,502.38,34.192463,31 Years and 10 Months,No,35.104023,167.1638651610451,!@9#%8,393.6736955618808,Poor

In [415]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 28 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   ID                        100000 non-null  object
 1   Customer_ID               100000 non-null  object
 2   Month                     100000 non-null  object
 3   Name                      90015 non-null   object
 4   Age                       100000 non-null  object
 5   SSN                       100000 non-null  object
 6   Occupation                100000 non-null  object
 7   Annual_Income             100000 non-null  object
 8   Monthly_Inhand_Salary     84998 non-null   float64
 9   Num_Bank_Accounts         100000 non-null  int64
 10  Num_Credit_Card           100000 non-null  int64
 11  Interest_Rate             100000 non-null  int64
 12  Num_of_Loan               100000 non-null  object
 13  Type_of_Loan              88592 non-null   object
 14  Delay_from_due_date       100000 non-null  int64
 15  Num_of_Delayed_Payment    92998 non-null   object
 16  Changed_Credit_Limit      100000 non-null  object
 17  Num_Credit_Inquiries      98035 non-null   float64
 18  Credit_Mix                100000 non-null  object
 19  Outstanding_Debt          100000 non-null  object
 20  Credit_Utilization_Ratio  100000 non-null  float64
 21  Credit_History_Age        90970 non-null   object
 22  Payment_of_Min_Amount     100000 non-null  object
 23  Total_EMI_per_month       100000 non-null  float64
 24  Amount_invested_monthly   95521 non-null   object
 25  Payment_Behaviour         100000 non-null  object
 26  Monthly_Balance           98800 non-null   object
 27  Credit_Score              100000 non-null  object
dtypes: float64(4), int64(4), object(20)
memory usage: 21.4+ MB

In [416]:
print("Number of Unique Ids: ",df["Customer_ID"].nunique())
print("Number of Unique Names: ",df["Name"].nunique())
print("Number of Unique SSNs: ",df["SSN"].nunique())

Number of Unique Ids:  12500
Number of Unique Names:  10139
Number of Unique SSNs:  12501

In [417]:
print("Number of null Ids: ",df["Customer_ID"].isnull().sum())
print("Number of null Names: ",df["Name"].isnull().sum())
print("Number of null SSNs: ",df["SSN"].isnull().sum())

Number of null Ids:  0
Number of null Names:  9985
Number of null SSNs:  0

In [418]:
pattern = r'^CUS_0x'

not_matching = df[~df['Customer_ID'].str.contains(pattern, regex=True, na=False)]
print(not_matching)

# Every Customer_ID is in pattern of "CUS_0x..." Hence no need to clean. 12500 Unique customers present in df.

Empty DataFrame
Columns: [ID, Customer_ID, Month, Name, Age, SSN, Occupation, Annual_Income, Monthly_Inhand_Salary, Num_Bank_Accounts, Num_Credit_Card, Interest_Rate, Num_of_Loan, Type_of_Loan, Delay_from_due_date, Num_of_Delayed_Payment, Changed_Credit_Limit, Num_Credit_Inquiries, Credit_Mix, Outstanding_Debt, Credit_Utilization_Ratio, Credit_History_Age, Payment_of_Min_Amount, Total_EMI_per_month, Amount_invested_monthly, Payment_Behaviour, Monthly_Balance, Credit_Score]
Index: []

[0 rows x 28 columns]

In [419]:
pattern = r'^\d{3}-\d{2}-\d{4}$'

not_matching = df[~df['SSN'].str.contains(pattern, regex=True, na=False)]
print(not_matching)

print("Number of different miss match values: ",not_matching["SSN"].nunique())

# There are 5572 SSN with not the pattern "[3 digits]-[2 digits]-[ 4 digits]". Those values are #F%$D@*&8

            ID Customer_ID    Month              Name  Age        SSN  \
7       0x1609   CUS_0xd40   August               NaN   23  #F%$D@*&8
29      0x162b  CUS_0xb891     June            Jasond   55  #F%$D@*&8
51      0x164d  CUS_0x284a    April            Nadiaq   34  #F%$D@*&8
54      0x1650  CUS_0x284a     July            Nadiaq  34_  #F%$D@*&8
98      0x1694  CUS_0x3e45    March   Harriet McLeodd   35  #F%$D@*&8
...        ...         ...      ...               ...  ...        ...
99914  0x25f70  CUS_0x1619    March       Phil Wahbao   54  #F%$D@*&8
99942  0x25f98  CUS_0xad4f     July  Sabina Zawadzkig  48_  #F%$D@*&8
99946  0x25fa0  CUS_0x51b3    March             Ryana   33  #F%$D@*&8
99968  0x25fc2   CUS_0xf16  January    Maria Sheahanb   44  #F%$D@*&8
99988  0x25fde  CUS_0x8600      May    Sarah McBridec   28  #F%$D@*&8

          Occupation Annual_Income  Monthly_Inhand_Salary  Num_Bank_Accounts  \
7          Scientist      19114.12            1824.843333                  3
29           _______      30689.89            2612.490833                  2
51            Lawyer      131313.4           10469.207759                  0
54            Lawyer    10909427.0                    NaN                  0
98      Entrepreneur     54392.16_                    NaN                  6
...              ...           ...                    ...                ...
99914  Media_Manager      20059.98            1523.665000                  8
99942      Developer      22620.79            1722.065833                  6
99946  Media_Manager      59146.36            4908.863333                  2
99968  Media_Manager      16680.35            1528.029167                  1
99988      Architect      20002.88            1929.906667                 10

       ...  Credit_Mix  Outstanding_Debt Credit_Utilization_Ratio  \
7      ...        Good            809.98                23.933795
29     ...           _            632.46                27.445422
51     ...        Good            352.16                42.645785
54     ...        Good            352.16                26.947565
98     ...           _            179.22                31.258928
...    ...         ...               ...                      ...
99914  ...        Good            909.01                29.204711
99942  ...    Standard            642.46                24.714779
99946  ...        Good            418.03                35.750925
99968  ...        Good            897.16                39.868572
99988  ...           _            3571.7                28.508250

           Credit_History_Age  Payment_of_Min_Amount Total_EMI_per_month  \
7                         NaN                     No           49.574949
29      17 Years and 8 Months                     No           16.415452
51     30 Years and 10 Months                     No        23834.000000
54      31 Years and 1 Months                     No          911.220179
98      27 Years and 0 Months                     NM          124.392082
...                       ...                    ...                 ...
99914   16 Years and 5 Months                     No           45.076827
99942   29 Years and 9 Months                     No            0.000000
99946   20 Years and 3 Months                     No           26.778419
99968                     NaN                     NM           41.113561
99988    6 Years and 0 Months                    Yes           60.964772

      Amount_invested_monthly                 Payment_Behaviour  \
7          24.785216509052056  High_spent_Medium_value_payments
29          84.95284817115969   High_spent_Small_value_payments
51         337.43495631738324  High_spent_Medium_value_payments
54          930.3918977796665                            !@9#%8
98         33.349568589344514   High_spent_Large_value_payments
...                       ...                               ...
99914      111.56713873012444    Low_spent_Large_value_payments
99942       16.53218878920387   High_spent_Large_value_payments
99946      188.54469705568923  High_spent_Medium_value_payments
99968       52.95197781627658   High_spent_Small_value_payments
99988      213.97800979403817    Low_spent_Small_value_payments

          Monthly_Balance Credit_Score
7      358.12416760938714     Standard
29      419.8807835023488     Standard
51      899.1987716145285         Good
54     326.24183015224526         Good
98      558.9263489897351     Standard
...                   ...          ...
99914   265.7225343291984         Poor
99942   395.6743945441295         Poor
99946   525.5632170056026     Standard
99968  318.73737826046414         Good
99988  208.04788449920608     Standard

[5572 rows x 28 columns]
Number of different miss match values:  1

In [420]:
df['SSN'] = df['SSN'].replace('#F%$D@*&8', np.nan)

# Replace those #F%$D@*&8 values from null

In [421]:
ssn_counts = df.groupby(['Customer_ID', 'SSN']).size().reset_index(name='count')
most_frequent_ssn = ssn_counts.loc[ssn_counts.groupby('Customer_ID')['count'].idxmax()]
most_frequent_ssn = most_frequent_ssn.rename(columns={'SSN': 'Most_Frequent_SSN'})
df = df.merge(most_frequent_ssn[['Customer_ID', 'Most_Frequent_SSN']], on='Customer_ID', how='left')
df['SSN'] = df['Most_Frequent_SSN']
df.drop(columns=['Most_Frequent_SSN'], inplace=True)


## Replace nan values in SSN with correct SSN number

In [422]:
pattern = r'^[A-Za-z\s.-]+$'

not_matching = df[~df['Name'].str.contains(pattern, regex=True, na=False)]
print(not_matching)

print("Number of different miss match values: ",not_matching["Name"].nunique())

# There are 99 Names with not the pattern '^[A-Za-z\s.-]+$'. Those values containe " , symbols

            ID Customer_ID     Month Name Age          SSN     Occupation  \
7       0x1609   CUS_0xd40    August  NaN  23  821-00-0265      Scientist
17      0x161b  CUS_0x2dbc  February  NaN  34  486-85-3974       Engineer
22      0x1620  CUS_0x2dbc      July  NaN  34  486-85-3974       Engineer
64      0x1662  CUS_0x4157   January  NaN  23  070-19-1622         Doctor
80      0x167a  CUS_0xa66b   January  NaN  40  221-30-8554        Teacher
...        ...         ...       ...  ...  ..          ...            ...
99964  0x25fba  CUS_0x372c       May  NaN  18  340-85-7301         Lawyer
99965  0x25fbb  CUS_0x372c      June  NaN  19  340-85-7301         Lawyer
99969  0x25fc3   CUS_0xf16  February  NaN  45  868-70-2218  Media_Manager
99973  0x25fc7   CUS_0xf16      June  NaN  45  868-70-2218  Media_Manager
99986  0x25fdc  CUS_0x8600     March  NaN  28  031-35-0942      Architect

      Annual_Income  Monthly_Inhand_Salary  Num_Bank_Accounts  ...  \
7          19114.12            1824.843333                  3  ...
17        143162.64           12187.220000                  1  ...
22        143162.64           12187.220000                  1  ...
64        114838.41            9843.867500                  2  ...
80         33751.27            2948.605833                  5  ...
...             ...                    ...                ...  ...
99964      42903.79            3468.315833                  0  ...
99965      42903.79            3468.315833                  0  ...
99969      16680.35            1528.029167                  1  ...
99973      16680.35            1528.029167                  1  ...
99986      20002.88            1929.906667                 10  ...

       Credit_Mix  Outstanding_Debt Credit_Utilization_Ratio  \
7            Good            809.98                23.933795
17           Good           1303.01                41.702573
22           Good           1303.01                38.068624
64           Good           1377.74                33.664554
80       Standard           1328.93                37.089076
...           ...               ...                      ...
99964        Good           1079.48                23.140640
99965        Good           1079.48                35.549456
99969        Good            897.16                34.085971
99973        Good            897.16                24.972853
99986         Bad            3571.7                24.713861

           Credit_History_Age  Payment_of_Min_Amount Total_EMI_per_month  \
7                         NaN                     No           49.574949
17     17 Years and 10 Months                     No          246.992319
22      18 Years and 3 Months                     No          246.992319
64      21 Years and 4 Months                     No          226.892792
80      19 Years and 2 Months                     NM           65.008174
...                       ...                    ...                 ...
99964   28 Years and 5 Months                     No           34.975457
99965   28 Years and 6 Months                     No           34.975457
99969   21 Years and 2 Months                     No           41.113561
99973   21 Years and 6 Months                     No           41.113561
99986   5 Years and 10 Months                    Yes           60.964772

      Amount_invested_monthly                 Payment_Behaviour  \
7          24.785216509052056  High_spent_Medium_value_payments
17         232.86038375993544   High_spent_Small_value_payments
22         263.17416316163934   High_spent_Small_value_payments
64         215.19351594560425   High_spent_Small_value_payments
80         117.30669710658556  High_spent_Medium_value_payments
...                       ...                               ...
99964       450.6460933992599    Low_spent_Small_value_payments
99965       187.3559686116327    Low_spent_Large_value_payments
99969      104.64623687765652   High_spent_Small_value_payments
99973               __10000__    Low_spent_Small_value_payments
99986       76.28279349064607    Low_spent_Small_value_payments

          Monthly_Balance Credit_Score
7      358.12416760938714     Standard
17      998.8692967863226         Good
22      968.5555173846187     Standard
64      802.3004421328528         Good
80     362.54571194023237     Standard
...                   ...          ...
99964  151.21003324003215         Good
99965   394.5001580276593         Good
99969  267.04311919908423         Good
99973   233.3015390325111         Good
99986   345.7431008025983         Poor

[10829 rows x 28 columns]
Number of different miss match values:  99

In [423]:
df['Name'] = df['Name'].str.replace('"', '').str.replace(',', '').str.strip()

# remove " , symbols

In [424]:
name_counts = df.groupby(['Customer_ID', 'Name']).size().reset_index(name='count')
most_frequent_name = name_counts.loc[name_counts.groupby('Customer_ID')['count'].idxmax()]
most_frequent_name = most_frequent_name.rename(columns={'Name': 'Most_Frequent_Name'})
df = df.merge(most_frequent_name[['Customer_ID', 'Most_Frequent_Name']], on='Customer_ID', how='left')
df['Name'] = df['Most_Frequent_Name']
df.drop(columns=['Most_Frequent_Name'], inplace=True)


## Replace nan values in Name with correct Name

In [425]:
df["Name"].nunique()

## There are 12500 unique customer ids. but only have 10128 unique naems. Hence there are few customer with same name.

10128

In [426]:
df["Month"].unique()

month_mapping = {
    'January': 1,
    'February': 2,
    'March': 3,
    'April': 4,
    'May': 5,
    'June': 6,
    'July': 7,
    'August': 8
}

df['Month'] = df['Month'].map(month_mapping)

# Replace month with month number

In [427]:
df["Age"].unique()

def extract_numeric_age(age_str):
    digits = ''.join(filter(str.isdigit, age_str))
    return int(digits) if digits else None

df['Age'] = df['Age'].apply(extract_numeric_age)

print(df)

# Convert Age to int

            ID Customer_ID  Month           Name  Age          SSN Occupation  \
0       0x1602   CUS_0xd40      1  Aaron Maashoh   23  821-00-0265  Scientist
1       0x1603   CUS_0xd40      2  Aaron Maashoh   23  821-00-0265  Scientist
2       0x1604   CUS_0xd40      3  Aaron Maashoh  500  821-00-0265  Scientist
3       0x1605   CUS_0xd40      4  Aaron Maashoh   23  821-00-0265  Scientist
4       0x1606   CUS_0xd40      5  Aaron Maashoh   23  821-00-0265  Scientist
...        ...         ...    ...            ...  ...          ...        ...
99995  0x25fe9  CUS_0x942c      4          Nicks   25  078-73-5990   Mechanic
99996  0x25fea  CUS_0x942c      5          Nicks   25  078-73-5990   Mechanic
99997  0x25feb  CUS_0x942c      6          Nicks   25  078-73-5990   Mechanic
99998  0x25fec  CUS_0x942c      7          Nicks   25  078-73-5990   Mechanic
99999  0x25fed  CUS_0x942c      8          Nicks   25  078-73-5990   Mechanic

      Annual_Income  Monthly_Inhand_Salary  Num_Bank_Accounts  ...  \
0          19114.12            1824.843333                  3  ...
1          19114.12                    NaN                  3  ...
2          19114.12                    NaN                  3  ...
3          19114.12                    NaN                  3  ...
4          19114.12            1824.843333                  3  ...
...             ...                    ...                ...  ...
99995      39628.99            3359.415833                  4  ...
99996      39628.99            3359.415833                  4  ...
99997      39628.99            3359.415833                  4  ...
99998      39628.99            3359.415833                  4  ...
99999     39628.99_            3359.415833                  4  ...

       Credit_Mix  Outstanding_Debt Credit_Utilization_Ratio  \
0               _            809.98                26.822620
1            Good            809.98                31.944960
2            Good            809.98                28.609352
3            Good            809.98                31.377862
4            Good            809.98                24.797347
...           ...               ...                      ...
99995           _            502.38                34.663572
99996           _            502.38                40.565631
99997        Good            502.38                41.255522
99998        Good            502.38                33.638208
99999        Good            502.38                34.192463

           Credit_History_Age  Payment_of_Min_Amount Total_EMI_per_month  \
0       22 Years and 1 Months                     No           49.574949
1                         NaN                     No           49.574949
2       22 Years and 3 Months                     No           49.574949
3       22 Years and 4 Months                     No           49.574949
4       22 Years and 5 Months                     No           49.574949
...                       ...                    ...                 ...
99995   31 Years and 6 Months                     No           35.104023
99996   31 Years and 7 Months                     No           35.104023
99997   31 Years and 8 Months                     No           35.104023
99998   31 Years and 9 Months                     No           35.104023
99999  31 Years and 10 Months                     No           35.104023

      Amount_invested_monthly                 Payment_Behaviour  \
0           80.41529543900253   High_spent_Small_value_payments
1          118.28022162236736    Low_spent_Large_value_payments
2             81.699521264648   Low_spent_Medium_value_payments
3           199.4580743910713    Low_spent_Small_value_payments
4          41.420153086217326  High_spent_Medium_value_payments
...                       ...                               ...
99995       60.97133255718485   High_spent_Large_value_payments
99996       54.18595028760385  High_spent_Medium_value_payments
99997       24.02847744864441   High_spent_Large_value_payments
99998      251.67258219721603    Low_spent_Large_value_payments
99999       167.1638651610451                            !@9#%8

          Monthly_Balance Credit_Score
0      312.49408867943663         Good
1      284.62916249607184         Good
2       331.2098628537912         Good
3      223.45130972736786         Good
4      341.48923103222177         Good
...                   ...          ...
99995  479.86622816574095         Poor
99996    496.651610435322         Poor
99997   516.8090832742814         Poor
99998   319.1649785257098     Standard
99999   393.6736955618808         Poor

[100000 rows x 28 columns]

In [428]:
unique_age_per_id = df.groupby('Customer_ID')['Age'].nunique()

ids_with_more_than_3_age_valuies = unique_age_per_id[unique_age_per_id >= 3]
print(ids_with_more_than_3_age_valuies)

# For purticular customer there can be have 2 age values. Because their birthday must be in one of the considering month. But not can have 3 or more age values.
# Hence these customers must have incorrect age value.

Customer_ID
CUS_0x1048    3
CUS_0x104a    3
CUS_0x104f    3
CUS_0x1051    3
CUS_0x109d    3
             ..
CUS_0xfb4     3
CUS_0xfb8     3
CUS_0xfd1     3
CUS_0xfdf     3
CUS_0xff4     3
Name: Age, Length: 1518, dtype: int64

In [429]:
age_counts = df.groupby(['Customer_ID', 'Age']).size().reset_index(name='count')
most_frequent_age = age_counts.loc[age_counts.groupby('Customer_ID')['count'].idxmax()]
most_frequent_age = most_frequent_age.rename(columns={'Age': 'Most_Frequent_Age'})
df = df.merge(most_frequent_age[['Customer_ID', 'Most_Frequent_Age']], on='Customer_ID', how='left')
df['Age'] = df['Most_Frequent_Age']
df.drop(columns=['Most_Frequent_Age'], inplace=True)

# We agreed that we dont need exactly monthly age of customer. Hence we get customer age as highest frequency of age.

In [430]:
df["Age"].describe()

# Age values are in good range.

count    100000.000000
mean         33.274560
std          10.764438
min          14.000000
25%          24.000000
50%          33.000000
75%          42.000000
max          56.000000
Name: Age, dtype: float64

In [431]:
pattern = r'^[A-Za-z\s]+$'

not_matching = df[~df['Occupation'].str.contains(pattern, regex=True, na=False)]
print(not_matching)

print("Number of different miss match values: ",not_matching["Occupation"].nunique())

print("Those occupations are ",not_matching["Occupation"].unique())

# There are 2 occupations which are not in format of '^[A-Za-z\s]+$'. Those are "Media_Manager" and "_______"

            ID Customer_ID  Month             Name  Age          SSN  \
8       0x160e  CUS_0x21b1      1  Rick Rothackerj   28  004-07-5839
16      0x161a  CUS_0x2dbc      1           Langep   34  486-85-3974
18      0x161c  CUS_0x2dbc      3           Langep   34  486-85-3974
20      0x161e  CUS_0x2dbc      5           Langep   34  486-85-3974
29      0x162b  CUS_0xb891      6           Jasond   55  072-31-6145
...        ...         ...    ...              ...  ...          ...
99972  0x25fc6   CUS_0xf16      5   Maria Sheahanb   45  868-70-2218
99973  0x25fc7   CUS_0xf16      6   Maria Sheahanb   45  868-70-2218
99974  0x25fc8   CUS_0xf16      7   Maria Sheahanb   45  868-70-2218
99975  0x25fc9   CUS_0xf16      8   Maria Sheahanb   45  868-70-2218
99989  0x25fdf  CUS_0x8600      6   Sarah McBridec   28  031-35-0942

          Occupation Annual_Income  Monthly_Inhand_Salary  Num_Bank_Accounts  \
8            _______      34847.84            3037.986667                  2
16           _______     143162.64           12187.220000                  1
18           _______     143162.64                    NaN                  1
20           _______     143162.64           12187.220000                  1
29           _______      30689.89            2612.490833                  2
...              ...           ...                    ...                ...
99972  Media_Manager      16680.35            1528.029167                  1
99973  Media_Manager      16680.35            1528.029167                  1
99974  Media_Manager     16680.35_            1528.029167                  1
99975  Media_Manager      16680.35                    NaN                  1
99989        _______      20002.88            1929.906667                 10

       ...  Credit_Mix  Outstanding_Debt Credit_Utilization_Ratio  \
8      ...        Good            605.03                24.464031
16     ...        Good           1303.01                28.616735
18     ...        Good           1303.01                26.519815
20     ...        Good           1303.01                31.376150
29     ...           _            632.46                27.445422
...    ...         ...               ...                      ...
99972  ...        Good            897.16                37.788217
99973  ...        Good            897.16                24.972853
99974  ...           _            897.16                36.166925
99975  ...        Good            897.16                41.212367
99989  ...         Bad            3571.7                33.359987

           Credit_History_Age  Payment_of_Min_Amount Total_EMI_per_month  \
8       26 Years and 7 Months                     No           18.816215
16      17 Years and 9 Months                     No          246.992319
18     17 Years and 11 Months                     No          246.992319
20      18 Years and 1 Months                     No          246.992319
29      17 Years and 8 Months                     No           16.415452
...                       ...                    ...                 ...
99972   21 Years and 5 Months                     No           41.113561
99973   21 Years and 6 Months                     No           41.113561
99974   21 Years and 7 Months                     No           41.113561
99975                     NaN                     No           41.113561
99989    6 Years and 1 Months                    Yes           60.964772

      Amount_invested_monthly                Payment_Behaviour  \
8            104.291825168246   Low_spent_Small_value_payments
16           168.413702679309                           !@9#%8
18                  __10000__  High_spent_Small_value_payments
20          430.9475278803298   Low_spent_Large_value_payments
29          84.95284817115969  High_spent_Small_value_payments
...                       ...                              ...
99972       64.54974829039807   Low_spent_Large_value_payments
99973               __10000__   Low_spent_Small_value_payments
99974                     NaN   Low_spent_Small_value_payments
99975        70.8055497847255   Low_spent_Large_value_payments
99989       74.36660309585342                           !@9#%8

          Monthly_Balance Credit_Score
8      470.69062692529184     Standard
16     1043.3159778669492         Good
18       715.741367403555         Good
20      810.7821526659284         Good
29      419.8807835023488     Standard
...                   ...          ...
99972   317.1396077863426     Standard
99973   233.3015390325111         Good
99974  340.68483402219437         Good
99975   310.8838062920152         Good
99989  307.65929119739087     Standard

[13294 rows x 28 columns]
Number of different miss match values:  2
Those occupations are  ['_______' 'Media_Manager']

In [432]:
df['Occupation'] = df['Occupation'].replace('Media_Manager', 'Media Manager').replace('_______', np.nan)

# Replace Media_Manager with Media Manager and "_______" with nan

In [433]:
unique_occupation_per_id = df.groupby('Customer_ID')['Occupation'].nunique()

ids_with_more_than_a_occupation = unique_occupation_per_id[unique_occupation_per_id != 1]
print(ids_with_more_than_a_occupation)

# For purticular customer id cannot have 2 or more occupations.

Series([], Name: Occupation, dtype: int64)

In [434]:
occupation_counts = df.groupby(['Customer_ID', 'Occupation']).size().reset_index(name='count')
most_frequent_occupation = occupation_counts.loc[occupation_counts.groupby('Customer_ID')['count'].idxmax()]
most_frequent_occupation = most_frequent_occupation.rename(columns={'Occupation': 'Most_Frequent_Occupation'})
df = df.merge(most_frequent_occupation[['Customer_ID', 'Most_Frequent_Occupation']], on='Customer_ID', how='left')
df['Occupation'] = df['Most_Frequent_Occupation']
df.drop(columns=['Most_Frequent_Occupation'], inplace=True)

# Replace nan and more than 1 of Occupation as highest frequency of Occupation for a customer.

In [435]:
df["Annual_Income"].unique()

def extract_numeric_income(income_str):
    clean_income_str = ''.join(filter(lambda x: x.isdigit() or x == '.', income_str))
    return float(clean_income_str) if clean_income_str else None

df['Annual_Income'] = df['Annual_Income'].apply(extract_numeric_income)

# Convert str Annual Income to float

In [436]:
unique_annual_income_per_id = df.groupby('Customer_ID')['Annual_Income'].nunique()

ids_with_more_than_a_annual_income = unique_annual_income_per_id[unique_annual_income_per_id != 1]
print(ids_with_more_than_a_annual_income)

# For purticular customer id cannot have 2 or more annual incomes.

Customer_ID
CUS_0x1018    2
CUS_0x1057    2
CUS_0x107e    2
CUS_0x108a    2
CUS_0x10a9    2
             ..
CUS_0xe5b     2
CUS_0xee1     2
CUS_0xf20     2
CUS_0xf55     2
CUS_0xfa4     2
Name: Annual_Income, Length: 965, dtype: int64

In [437]:
annual_income_counts = df.groupby(['Customer_ID', 'Annual_Income']).size().reset_index(name='count')
most_frequent_annual_income = annual_income_counts.loc[annual_income_counts.groupby('Customer_ID')['count'].idxmax()]
most_frequent_annual_income = most_frequent_annual_income.rename(columns={'Annual_Income': 'Most_Frequent_Annual_Income'})
df = df.merge(most_frequent_annual_income[['Customer_ID', 'Most_Frequent_Annual_Income']], on='Customer_ID', how='left')
df['Annual_Income'] = df['Most_Frequent_Annual_Income']
df.drop(columns=['Most_Frequent_Annual_Income'], inplace=True)

# Replace more than 1 of Annual_Income as highest frequency of Annual_Income for a customer.

In [438]:
df["Monthly_Inhand_Salary"].isna().sum()

# These values not be same for each month. But there are some nan values.

15002

In [439]:
def fill_Monthly_Inhand_Salary(group):
    group = group.ffill()
    group = group.bfill()
    return group


Monthly_Inhand_Salary_fill = df.groupby('Customer_ID')[['ID','Monthly_Inhand_Salary']].apply(fill_Monthly_Inhand_Salary)
Monthly_Inhand_Salary_fill = Monthly_Inhand_Salary_fill.rename(columns={'Monthly_Inhand_Salary': 'Monthly_Inhand_Salary_Fill'})
df = df.merge(Monthly_Inhand_Salary_fill, on='ID', how='left')
df['Monthly_Inhand_Salary'] = df['Monthly_Inhand_Salary_Fill'].round(2)
df.drop(columns=['Monthly_Inhand_Salary_Fill'], inplace=True)

# Nan values fill according to ffill and bfill methods group by customer id. Also round the values to 2 decimals

In [440]:
df["Num_Bank_Accounts"].describe()

# customer cannot have -1 number of bank account
# customer can have >= 0  number of bank account. but we observe that when number of bank account are > 11 and <0, those are data enty errors.

count    100000.000000
mean         17.091280
std         117.404834
min          -1.000000
25%           3.000000
50%           6.000000
75%           7.000000
max        1798.000000
Name: Num_Bank_Accounts, dtype: float64

In [441]:
df["Num_Bank_Accounts"] = df["Num_Bank_Accounts"].apply(lambda x: np.nan if x>=12 or x<0 else x)
df["Num_Bank_Accounts"].describe()

# Replace all value >=12 and <0 by nan and round to integer

count    98664.000000
mean         5.368980
std          2.592451
min          0.000000
25%          3.000000
50%          5.000000
75%          7.000000
max         11.000000
Name: Num_Bank_Accounts, dtype: float64

In [442]:
def fill_Num_Bank_Accounts(group):
    group = group.ffill()
    group = group.bfill()
    return group


Num_Bank_Accounts_fill = df.groupby('Customer_ID')[['ID','Num_Bank_Accounts']].apply(fill_Num_Bank_Accounts)
Num_Bank_Accounts_fill = Num_Bank_Accounts_fill.rename(columns={'Num_Bank_Accounts': 'Num_Bank_Accounts_Fill'})
df = df.merge(Num_Bank_Accounts_fill, on='ID', how='left')
df['Num_Bank_Accounts'] = df['Num_Bank_Accounts_Fill']
df.drop(columns=['Num_Bank_Accounts_Fill'], inplace=True)

# Nan values fill according to ffill and bfill methods group by customer id

df["Num_Bank_Accounts"] = df["Num_Bank_Accounts"].astype(int)

#round to integer

In [443]:
df["Num_Credit_Card"].describe()

# customer can have >= 0 number of credic cards. but we observe that when number of credit cards are > 11 those are data enty errors.

count    100000.00000
mean         22.47443
std         129.05741
min           0.00000
25%           4.00000
50%           5.00000
75%           7.00000
max        1499.00000
Name: Num_Credit_Card, dtype: float64

In [444]:
df["Num_Credit_Card"] = df["Num_Credit_Card"].apply(lambda x: np.nan if x>=12 else x)
df["Num_Credit_Card"].describe()

# Replace all value >=12 by nan

count    97729.000000
mean         5.533322
std          2.067703
min          0.000000
25%          4.000000
50%          5.000000
75%          7.000000
max         11.000000
Name: Num_Credit_Card, dtype: float64

In [445]:
def fill_Num_Credit_Card(group):
    group = group.ffill()
    group = group.bfill()
    return group


Num_Bank_Accounts_fill = df.groupby('Customer_ID')[['ID','Num_Credit_Card']].apply(fill_Num_Credit_Card)
Num_Bank_Accounts_fill = Num_Bank_Accounts_fill.rename(columns={'Num_Credit_Card': 'Num_Credit_Card_Fill'})
df = df.merge(Num_Bank_Accounts_fill, on='ID', how='left')
df['Num_Credit_Card'] = df['Num_Credit_Card_Fill']
df.drop(columns=['Num_Credit_Card_Fill'], inplace=True)

# Nan values fill according to ffill and bfill methods group by customer id

df["Num_Credit_Card"] = df["Num_Credit_Card"].astype(int)

#round to integer

In [446]:
df["Interest_Rate"].describe()

# bank can give >= 0 present of interest rate. but we observe that when interest rate > 34 those are data enty errors.

count    100000.000000
mean         72.466040
std         466.422621
min           1.000000
25%           8.000000
50%          13.000000
75%          20.000000
max        5797.000000
Name: Interest_Rate, dtype: float64

In [447]:
df["Interest_Rate"] = df["Interest_Rate"].apply(lambda x: np.nan if x>=35 else x)
df["Interest_Rate"].describe()

# Replace all value >=35 by nan

count    97966.000000
mean        14.531603
std          8.739748
min          1.000000
25%          7.000000
50%         13.000000
75%         20.000000
max         34.000000
Name: Interest_Rate, dtype: float64

In [448]:
def fill_Interest_Rate(group):
    group = group.ffill()
    group = group.bfill()
    return group


Interest_Rate_fill = df.groupby('Customer_ID')[['ID','Interest_Rate']].apply(fill_Interest_Rate)
Interest_Rate_fill = Interest_Rate_fill.rename(columns={'Interest_Rate': 'Interest_Rate_Fill'})
df = df.merge(Interest_Rate_fill, on='ID', how='left')
df['Interest_Rate'] = df['Interest_Rate_Fill']
df.drop(columns=['Interest_Rate_Fill'], inplace=True)

# Nan values fill according to ffill and bfill methods group by customer id

df["Interest_Rate"] = df["Interest_Rate"].astype(int)

#round to integer

In [449]:
df["Num_of_Loan"].unique()

def extract_numeric_age(age_str):
    digits = ''.join(filter(str.isdigit, age_str))
    return int(digits) if digits else None

df['Num_of_Loan'] = df['Num_of_Loan'].apply(extract_numeric_age)

# Num_of_Loan are convert to int

In [450]:
df["Num_of_Loan"].describe()

# customer can have >= 0 number of loans. but we observe that when number of loans are > 9 those are data enty errors.

count    100000.000000
mean         10.761960
std          61.789933
min           0.000000
25%           2.000000
50%           3.000000
75%           6.000000
max        1496.000000
Name: Num_of_Loan, dtype: float64

In [451]:
df["Num_of_Loan"] = df["Num_of_Loan"].apply(lambda x: np.nan if x>=10 else x)
df["Num_of_Loan"].describe()

# Replace all value >=10 by nan

count    95652.000000
mean         3.533758
std          2.447308
min          0.000000
25%          2.000000
50%          3.000000
75%          5.000000
max          9.000000
Name: Num_of_Loan, dtype: float64

In [452]:
def fill_Num_of_Loan(group):
    group = group.ffill()
    group = group.bfill()
    return group


Num_of_Loan_fill = df.groupby('Customer_ID')[['ID','Num_of_Loan']].apply(fill_Num_of_Loan)
Num_of_Loan_fill = Num_of_Loan_fill.rename(columns={'Num_of_Loan': 'Num_of_Loan_Fill'})
df = df.merge(Num_of_Loan_fill, on='ID', how='left')
df['Num_of_Loan'] = df['Num_of_Loan_Fill']
df.drop(columns=['Num_of_Loan_Fill'], inplace=True)

# Nan values fill according to ffill and bfill methods group by customer id

df["Num_of_Loan"] = df["Num_of_Loan"].astype(int)

#round to integer

In [453]:
df["Delay_from_due_date"].describe()

# Delay from due date are in fessible region. but we can get final decission whether we need to consider early payments(negative numbers)
# or just give 0 for those numbers.

count    100000.000000
mean         21.068780
std          14.860104
min          -5.000000
25%          10.000000
50%          18.000000
75%          28.000000
max          67.000000
Name: Delay_from_due_date, dtype: float64

In [454]:
def extract_delayed_payment(delayed_str):
    if isinstance(delayed_str, str):
        clean_delayed_str = ''.join(filter(lambda x: x.isdigit() or x == '.' or x == '-', delayed_str))
        value = float(clean_delayed_str) if clean_delayed_str else None
    elif isinstance(delayed_str, (int, float)):
        value = float(delayed_str)
    else:
        return None
    
    return value if value is not None and value >= 0 else np.nan

df['Num_of_Delayed_Payment'] = df['Num_of_Delayed_Payment'].apply(extract_delayed_payment)

# Convert str to float. neg value is problem is there!

In [455]:
df["Num_of_Delayed_Payment"].describe()

# Observed that when Num_of_Delayed_Payment > 28 it is a data entry errors.

count    92354.000000
mean        31.150519
std        226.802173
min          0.000000
25%          9.000000
50%         14.000000
75%         18.000000
max       4397.000000
Name: Num_of_Delayed_Payment, dtype: float64

In [456]:
df["Num_of_Delayed_Payment"] = df["Num_of_Delayed_Payment"].apply(lambda x: np.nan if x>=29 else x)
df["Num_of_Delayed_Payment"].describe()

# Replace all value >=29 by nan

count    91618.000000
mean        13.419634
std          6.207354
min          0.000000
25%          9.000000
50%         14.000000
75%         18.000000
max         28.000000
Name: Num_of_Delayed_Payment, dtype: float64

In [457]:
def fill_Num_of_Delayed_Payment(group):
    group = group.ffill()
    group = group.bfill()
    return group


Num_of_Delayed_Payment_fill = df.groupby('Customer_ID')[['ID','Num_of_Delayed_Payment']].apply(fill_Num_of_Delayed_Payment)
Num_of_Delayed_Payment_fill = Num_of_Delayed_Payment_fill.rename(columns={'Num_of_Delayed_Payment': 'Num_of_Delayed_Payment_Fill'})
df = df.merge(Num_of_Delayed_Payment_fill, on='ID', how='left')
df['Num_of_Delayed_Payment'] = df['Num_of_Delayed_Payment_Fill']
df.drop(columns=['Num_of_Delayed_Payment_Fill'], inplace=True)

# Nan values fill according to ffill and bfill methods group by customer id

df["Num_of_Delayed_Payment"] = df["Num_of_Delayed_Payment"].astype(int)

#round to integer

In [458]:
def extract_Changed_Credit_Limit(income_str):
    clean_income_str = ''.join(filter(lambda x: x.isdigit() or x == '.', income_str))
    return float(clean_income_str) if clean_income_str else None

df['Changed_Credit_Limit'] = df['Changed_Credit_Limit'].apply(extract_Changed_Credit_Limit)

# Convert str to float.

In [459]:
def fill_Changed_Credit_Limit(group):
    group = group.ffill()
    group = group.bfill()
    return group


Changed_Credit_Limit_fill = df.groupby('Customer_ID')[['ID','Changed_Credit_Limit']].apply(fill_Changed_Credit_Limit)
Changed_Credit_Limit_fill = Changed_Credit_Limit_fill.rename(columns={'Changed_Credit_Limit': 'Changed_Credit_Limit_Fill'})
df = df.merge(Changed_Credit_Limit_fill, on='ID', how='left')
df['Changed_Credit_Limit'] = df['Changed_Credit_Limit_Fill']
df.drop(columns=['Changed_Credit_Limit_Fill'], inplace=True)

# Nan values fill according to ffill and bfill methods group by customer id

df["Changed_Credit_Limit"] = df["Changed_Credit_Limit"].round(2)

#round to 2 decimels

In [460]:
df["Changed_Credit_Limit"].describe()

# Values look fesible.

count    100000.00000
mean         10.46553
std           6.67169
min           0.00000
25%           5.35000
50%           9.40000
75%          14.86000
max          36.97000
Name: Changed_Credit_Limit, dtype: float64

In [461]:
df["Num_Credit_Inquiries"].describe()

# Observed that when Num_Credit_Inquiries > 17 it is a data entry errors.

count    98035.000000
mean        27.754251
std        193.177339
min          0.000000
25%          3.000000
50%          6.000000
75%          9.000000
max       2597.000000
Name: Num_Credit_Inquiries, dtype: float64

In [462]:
df["Num_Credit_Inquiries"] = df["Num_Credit_Inquiries"].apply(lambda x: np.nan if x>=18 else x)
df["Num_Credit_Inquiries"].describe()

# Replace all value >=18 by nan

count    96385.000000
mean         5.781117
std          3.860712
min          0.000000
25%          3.000000
50%          5.000000
75%          8.000000
max         17.000000
Name: Num_Credit_Inquiries, dtype: float64

In [463]:
def fill_Num_Credit_Inquiries(group):
    group = group.ffill()
    group = group.bfill()
    return group


Num_Credit_Inquiries_fill = df.groupby('Customer_ID')[['ID','Num_Credit_Inquiries']].apply(fill_Num_Credit_Inquiries)
Num_Credit_Inquiries_fill = Num_Credit_Inquiries_fill.rename(columns={'Num_Credit_Inquiries': 'Num_Credit_Inquiries_Fill'})
df = df.merge(Num_Credit_Inquiries_fill, on='ID', how='left')
df['Num_Credit_Inquiries'] = df['Num_Credit_Inquiries_Fill']
df.drop(columns=['Num_Credit_Inquiries_Fill'], inplace=True)

# Nan values fill according to ffill and bfill methods group by customer id

df["Num_Credit_Inquiries"] = df["Num_Credit_Inquiries"].astype(int)

#round to integer

In [464]:
unique_annual_income_per_id = df.groupby('Customer_ID')['Credit_Mix'].nunique()

ids_with_more_than_a_annual_income = unique_annual_income_per_id[unique_annual_income_per_id >= 3]
print(ids_with_more_than_a_annual_income)

# For purticular customer id not have 3 or more Credit_Mix. that means only have nan of one specific group out of 3 group

Series([], Name: Credit_Mix, dtype: int64)

In [465]:
df["Credit_Mix"] = df["Credit_Mix"].apply(lambda x: np.nan if x == '_' else x)

df["Credit_Mix"].describe()

# Replace all value '_' by nan

count        79805
unique           3
top       Standard
freq         36479
Name: Credit_Mix, dtype: object

In [466]:
def fill_Num_Credit_Inquiries(group):
    group = group.ffill()
    group = group.bfill()
    return group


Num_Credit_Inquiries_fill = df.groupby('Customer_ID')[['ID','Credit_Mix']].apply(fill_Num_Credit_Inquiries)
Num_Credit_Inquiries_fill = Num_Credit_Inquiries_fill.rename(columns={'Credit_Mix': 'Credit_Mix_Fill'})
df = df.merge(Num_Credit_Inquiries_fill, on='ID', how='left')
df['Credit_Mix'] = df['Credit_Mix_Fill']
df.drop(columns=['Credit_Mix_Fill'], inplace=True)

# Nan values fill according to ffill and bfill methods group by customer id


#round to integer

## Not change variable names accordingly!!!

In [467]:
def extract_Changed_Credit_Limit(income_str):
    clean_income_str = ''.join(filter(lambda x: x.isdigit() or x == '.', income_str))
    return float(clean_income_str) if clean_income_str else None

df['Outstanding_Debt'] = df['Outstanding_Debt'].apply(extract_Changed_Credit_Limit)

# Convert str to float.
# Not change variable names accordingly

In [468]:
unique_annual_income_per_id = df.groupby('Customer_ID')['Outstanding_Debt'].nunique()

ids_with_more_than_a_annual_income = unique_annual_income_per_id[unique_annual_income_per_id != 1]
print(ids_with_more_than_a_annual_income)

# There are no different Outstanding_Debt for a purticular customer

Series([], Name: Outstanding_Debt, dtype: int64)

In [469]:
df["Credit_Utilization_Ratio"].describe()

df["Credit_Utilization_Ratio"] = df["Credit_Utilization_Ratio"].round(4)

# Round to 4 decimals

In [470]:
## Credit_History_Age makes no sense ??? !!!!

In [471]:
df["Payment_of_Min_Amount"] = df["Payment_of_Min_Amount"].apply(lambda x: 'No' if x == 'NM' else x)

df["Payment_of_Min_Amount"].describe()

# Replace all value NM (Not met) by No

count     100000
unique         2
top          Yes
freq       52326
Name: Payment_of_Min_Amount, dtype: object

In [472]:
unique_annual_income_per_id = df.groupby('Customer_ID')['Total_EMI_per_month'].nunique()

ids_with_more_than_a_annual_income = unique_annual_income_per_id[unique_annual_income_per_id != 1]
print(ids_with_more_than_a_annual_income)

# For purticular customer id cannot have 2 or more annual incomes. some cases there are 0. this cant be possible.
# some cases there are values very high. possible data entry errors.

Customer_ID
CUS_0x1013    2
CUS_0x103e    2
CUS_0x105b    3
CUS_0x1069    2
CUS_0x106f    3
             ..
CUS_0xf74     2
CUS_0xf8d     2
CUS_0xfac     2
CUS_0xfb8     2
CUS_0xfdf     2
Name: Total_EMI_per_month, Length: 3426, dtype: int64

In [473]:
df["Total_EMI_per_month"] = df["Total_EMI_per_month"].apply(lambda x: np.nan if x>=2000 or x==0 else x)
df["Total_EMI_per_month"].describe()

# Replace all value >=2000 by nan because its seems like data entry errors

count    86275.000000
mean       120.982366
std        135.002501
min          4.462837
25%         40.703207
50%         76.856489
75%        163.213141
max       1977.000000
Name: Total_EMI_per_month, dtype: float64

In [484]:
def fill_Num_Credit_Inquiries(group):
    group = group.ffill()
    group = group.bfill()
    return group


Num_Credit_Inquiries_fill = df.groupby('Customer_ID')[['ID','Total_EMI_per_month']].apply(fill_Num_Credit_Inquiries)
Num_Credit_Inquiries_fill = Num_Credit_Inquiries_fill.rename(columns={'Total_EMI_per_month': 'Total_EMI_per_month_Fill'})
df = df.merge(Num_Credit_Inquiries_fill, on='ID', how='left')
df['Total_EMI_per_month'] = df['Total_EMI_per_month_Fill']
df.drop(columns=['Total_EMI_per_month_Fill'], inplace=True)

# Nan values fill according to ffill and bfill methods group by customer id

df['Total_EMI_per_month'] = df['Total_EMI_per_month'].round(2)


## Not change variable names accordingly!!!

In [492]:
def extract_Changed_Credit_Limit(income_str):
    if isinstance(income_str, str):
        clean_income_str = ''.join(filter(lambda x: x.isdigit() or x == '.', income_str))
        return float(clean_income_str) if clean_income_str else None
    elif isinstance(income_str, (int, float)):
        return float(income_str)
    else:
        return None

df['Amount_invested_monthly'] = df['Amount_invested_monthly'].apply(extract_Changed_Credit_Limit)

# Convert str to float.

In [498]:
df["Amount_invested_monthly"] = df["Amount_invested_monthly"].apply(lambda x: np.nan if x==10000 else x)
df["Amount_invested_monthly"].describe()

# Replace value 10000 by nan because its seems like data entry errors
# Still there are missing values. it can handle in eda.

count    91216.000000
mean       195.539456
std        199.564527
min          0.000000
25%         72.236692
50%        128.954538
75%        236.815814
max       1977.326102
Name: Amount_invested_monthly, dtype: float64

In [507]:
df["Amount_invested_monthly"] = df["Amount_invested_monthly"].apply(lambda x: round(x,2) if x!=np.nan else x)

In [503]:
df["Payment_Behaviour"].unique()

## There are 6 unique categories.  spent -> High,Low and value -> Small, Medium, Large 
## also have '!@9#%8' as a category

array(['High_spent_Small_value_payments',
       'Low_spent_Large_value_payments',
       'Low_spent_Medium_value_payments',
       'Low_spent_Small_value_payments',
       'High_spent_Medium_value_payments', '!@9#%8',
       'High_spent_Large_value_payments'], dtype=object)

In [505]:
df["Payment_Behaviour"] = df["Payment_Behaviour"].apply(lambda x: np.nan if x=='!@9#%8' else x)
df["Payment_Behaviour"].describe()

# Replace '!@9#%8' by nan
# Still have missing values. which can handle in eda

count                              92400
unique                                 6
top       Low_spent_Small_value_payments
freq                               25513
Name: Payment_Behaviour, dtype: object

In [509]:
def extract_Changed_Credit_Limit(income_str):
    if isinstance(income_str, str):
        clean_income_str = ''.join(filter(lambda x: x.isdigit() or x == '.', income_str))
        return float(clean_income_str) if clean_income_str else None
    elif isinstance(income_str, (int, float)):
        return float(income_str)
    else:
        return None

df['Monthly_Balance'] = df['Monthly_Balance'].apply(extract_Changed_Credit_Limit)

# Convert str to float.
# Not change variables accordingly

In [522]:
df["Monthly_Balance"] = df["Monthly_Balance"].apply(lambda x: np.nan if x>3000 else x)
df["Monthly_Balance"].describe()

# Replace value 3.333333e+26 by nan because its seems like data entry errors
# Still there are missing values. it can handle in eda.

count    98791.000000
mean       402.551258
std        213.925499
min          0.007760
25%        270.106630
50%        336.731225
75%        470.262938
max       1602.040519
Name: Monthly_Balance, dtype: float64

In [524]:
df["Monthly_Balance"] = df["Monthly_Balance"].apply(lambda x: round(x,2) if x!=np.nan else x)

In [ ]:
## Nothing to change in Credit_Score

### End of the cleaning